@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body{
  background-color: black;
  color: white;
  background: url("images/bg.png");
  overflow-y: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #000000;
}

body::-webkit-scrollbar-thumb {
  background: #cfa935;
}

body::-webkit-scrollbar-thumb:hover {
  background: #cfa935;
}

/* header */
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background: black;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 75px;
}
.navbar{
  display: flex;
  flex-direction: row;
}
.navbar li{
  list-style-type: none;
  margin:0 15px 0 15px;
  font-weight: 700;
  font-size: 14px;
}
a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar a:hover {
  color: #cfa935;
}

a:active, a:visited {
  color: white;
}

.nav-button{
  padding: 12px 25px 12px 25px;
  background-color: #cfa935;
  border: none;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease;
}
.nav-button:hover{
  background-color: #9e7c16;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}
/* section */
section{
  display: flex;
  flex-direction: row;
}

/* left-section */
.left{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10%;
  margin-top: 8%;
}
.heading{
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}
.subheading{
  margin: 20px 0 10px 0;
  font-size: 18px;
  width: 90%;
  color: #A9A7B0;
}
.left button{
  margin: 20px 0px 20px 0px;
  padding: 12px 25px 12px 25px;
  background-color: #cfa935;
  border: none;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease;
  color: white;
  width: fit-content;
}
.left button:hover{
  background-color: #9e7c16;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* launch-timer */
.launch-time{
  display: flex;
}
.launch-time div{
  flex-basis: 100px;
}
.launch-time div p{
  font-size: 60px;
  margin-bottom: 2px;
}

/* right-section */
.right {
  margin-top: 6%;
}
.right img{
  width: 500px; 
  height: auto; 
  margin: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* timeline of events */
.event-heading{
  font-size: 40px;
  font-weight: 600;
  margin: 45px 20px 5px 20px;
  text-align: center;
}
.timeline{
  position: relative;
  max-width: 1000px;
  margin: 100px auto;
}
.container{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0%{
    opacity: 1;
    transform: translateY(-30px);
    transition: transform 0.3s ease;
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.3s ease;
  }
}
.container:nth-child(1){
  animation-delay: 0s;
}
.container:nth-child(2){
  animation-delay: 2s;
}
.container:nth-child(3){
  animation-delay: 4s;
}
.container:nth-child(4){
  animation-delay: 6s;
}
.container:nth-child(5){
  animation-delay: 8s;
}
.container:nth-child(6){
  animation-delay: 10s;
}
.text-box{
  padding: 20px 30px;
  background: rgba(23, 26, 36,0.8);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.text-box:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 238, 0, 0.3);
}
.text-box-right{
  background: rgba(158, 124, 22,0.3);
}
.left-container{
  left: -100px;
}
.right-container{
  left: 50%;
}
.container img{
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}
.right-container img{
  left: -20px;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: white;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 11s linear forwards;
}
@keyframes moveline{
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}
.text-box h2{
  font-weight: 600;
}
.text-box small{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #cfa935;
}
.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgb(255, 255, 255);
  right: -15px;
}
.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(255, 255, 255);
  left: -15px;
}

/* speaker lineup */
.speaker-container{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 90px 5px 90px 5px;
}
.speaker-card{
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: rgba(23, 26, 36,0.8);
  padding: 20px 20px 60px 20px;
  border-radius: 15px;
}
.speaker-card:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.speaker-card img{
  width: 300px;
  border-radius: 15px;
  margin: 5px;
}
.speaker-card h2{
  margin: 5px;
}
.speaker-card p{
  color: #cfa935;
  margin: 0 5px 0 5px;
}
.speaker-card button{
  margin: 20px 5px 5px 100px;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  text-align: center;
  border-radius: 25px;
  background: none;
  border: 2px solid #cfa935;
  color: white;
}
.speaker-card button:hover{
  background-color: #cfa935;
  border: 2px solid white;
  transition: 0.3s ease;
}

/* footer */
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.left-footer{
  display: flex;
  flex-direction: column;
}
.left-footer{
  margin: 40px 0px 20px;
  padding: 0px 50px;
  width: 32%;
}
.left-footer h3{
  margin: 97px 260px 20px -4px;
  font-size: 23px;
  text-align: center;
}
.email-input{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
  align-items: center;
}
.email-input span{
  margin-top: -4px;
}
.email-input input{
  background: none;
  outline: none;
  border: none;
  margin: 1px 228px 1px 0;
  padding: 5px 5px 10px 5px;
  color: #A9A7B0;
  width: 171px;
}
.right-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 40%;
}
.line{
  height: 1px;
  background-color: rgba(169, 167, 176,0.5);
  margin: -17px 0px 26px 0px;
}
.logos{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 33px;
}
.about, .certifications, .authorized{
  width: 25%;
  margin: 0px 20px;
}
.about ul li, .certifications ul li, .authorized ul li{
  list-style-type: none;
  color: #A9A7B0;
  margin-bottom: 12px;
}
.about h3, .certifications h3, .authorized h3{
  margin: 5px 0;
}
.about ul li:hover, .certifications ul li:hover, .authorized ul li:hover{
  cursor: pointer;
  color: #cfa935;
}
.copyright{
  color: #A9A7B0;
  font-weight: 500;
  font-size: 14px;
  margin-left: 120px;
  margin-bottom: 20px;
}

/* media queries */

/* Mobile devices (max-width: 600px) */
@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: black;
  }
  .navbar.active {
    display: flex;
    margin: 330px 0px 5px 0;
  }
  .navbar.active li{
    padding: 3px 33px;
  }
  .logo img{
    width: 100px;
  }
  .hamburger {
    display: flex;
  }
  .nav-button, .left button{
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    margin-right: 6px;
  }
  .navbar li {
    margin: 15px 0;
  }
  .heading{
    font-size: 24px;
  }
  .right img{
    width: 109px;
  }
  .launch-time div p{
    font-size: 20px;
  }
  .launch-time div span{
    font-size: 10px;
  }
  .subheading{
    font-size: 12px;
  }
  .event-heading{
    font-size: 24px;
  }
  .timeline{
    margin: 10px auto;
    width: 70%;
  }
  .timeline::after{
    left: 0px;
  }  
  .container{
    width: 100%;
    padding-left: 39px;
    padding-right: 25px;
  }
  .text-box{
    font-size: 13px;
  }
  .text-box small{
    margin-bottom: 10px;
  }
  .left-container{
    margin-left: 100px;
  }
  .right-container{
    left: 0;
  }
  .left-container img, .right-container img{
    left: -20px;
  }
  .left-container-arrow, .right-container-arrow{
    border-right: 15px solid white;
    border-left: 0;
    left: -15px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .left-footer {
    width: 90%;
    margin: 20px 0;
    padding: 0 20px;
  }
  .left-footer h3 {
    margin: 20px 143px 20px 0;
    font-size: 20px;
  }
  .email-input {
    flex-direction: row;
    align-items: flex-start;
  }
  .email-input input {
    width: 74%;
    margin: 0px 0;
  }
  .email-input span {
    margin-top: 1px;
}
  .right-footer {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .logos {
    justify-content: flex-start;
    margin: 20px 0;
    gap: 20px;
  }
  .about, .certifications, .authorized {
    width: 100%;
    margin: 10px 0;
  }
  .copyright {
    margin: 10px 0;
    text-align: center;
    font-size: 10px;
  }
}
/* Tablets (max-width: 900px) */
@media only screen and (max-width: 900px) {
  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: black;
  }
  .navbar.active {
    display: flex;
    margin: 330px 0px 5px 0;
  }
  .navbar.active li{
    padding: 3px 33px;
  }
  .logo img{
    width: 100px;
  }
  .hamburger {
    display: flex;
  }
  .nav-button, .left button{
    padding: 8px 15px 8px 15px;
    font-size: 12px;
    margin-right: 6px;
  }
  .navbar li {
    margin: 15px 0;
  }
  .heading{
    font-size: 40px;
  }
  .right img{
    width: 250px;
  }
  .launch-time div p{
    font-size: 30px;
  }
  .launch-time div span{
    font-size: 14px;
  }
  .subheading{
    font-size: 16px;
  }
  .event-heading{
    font-size: 30px;
  }
  .timeline{
    margin: 50px auto;
    width: 75%;
  }
  .timeline::after{
    left: 0px;
  }  
  .container{
    width: 100%;
    padding-left: 39px;
    padding-right: 25px;
  }
  .text-box{
    font-size: 13px;
  }
  .text-box small{
    margin-bottom: 10px;
  }
  .left-container{
    margin-left: 100px;
  }
  .right-container{
    left: 0;
  }
  .left-container img, .right-container img{
    left: -20px;
  }
  .left-container-arrow, .right-container-arrow{
    border-right: 15px solid white;
    border-left: 0;
    left: -15px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .left-footer {
    width: 90%;
    margin: 20px 0;
    padding: 0 20px;
  }
  .left-footer h3 {
    margin: 18px 186px 20px -307px;
    font-size: 20px;
}
  .email-input {
    flex-direction: row;
    align-items: flex-start;
  }
  .email-input input {
    width: 74%;
    margin: 0px 0;
  }
  .email-input span {
    margin-top: 1px;
}
  .right-footer {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .logos {
    justify-content: flex-start;
    margin: 20px 0;
    gap: 20px;
  }
  .about, .certifications, .authorized {
    width: 100%;
    margin: 10px 0;
  }
  .copyright {
    margin: 15px 0;
    text-align: center;
    font-size: 10px;
  }
}